html,
body,
#main,
#initial-page,
.full-screen {
    height: 100%;
    width: 100%;
    text-transform: initial;
}

#main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/home.jpg");
    background-repeat: no-repeat;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    background-size: cover;
}

#initial-page {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#logo-heading {
    font-size: 42px;
    font-weight: bold;
}

#login-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20%;
    margin-bottom: 10px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.login-buttons {
    width: 90%;
    height: 2.5rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    line-height: 2.5rem;
    font-weight: bold;
}

.reds {
    background-color: #ff5c5f;
}

.reds-clicked {
    color: #ff5c5f !important;
}

.whites {
    color: #fff !important;
}

.blues {
    background-color: #017c87;
}

#logo {
    width: 10rem;
}

#main-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#reg-login-page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blur-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.hidden {
    visibility: hidden;
}

#header-bar {
    font-size: 2rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 10px 5%;
}

#header-bar span {
    font-size: 2.5rem;
}

#login-reg-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 25%;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.fb {
    background-color: blue;
}

.gg {
    background-color: red;
}

#login-email {
    height: 40%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#login-email > input {
    width: 90%;
    padding-left: 10px;
    height: 2rem;
}

.red-links {
    color: red;
    text-decoration: underline;
}

#terms {
    font-weight: normal;
    font-size: 0.75rem;
}

#terms > p {
    text-align: center;
}

#main-picture {
    background-image: url("../img/italy.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

#search-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    bottom: -40px;
    left: 5%;
    text-align: center;
}

#search-icon i {
    margin: 0;
    line-height: 80px;
}

.list {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#home-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 60%;
}

#home-main {
    background-color: #fff;
}

#messages-header {
    background-color: #ff5c5f;
}

#messages-header h1 {
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
}

#messages-content {
    height: 90%;
}

#messages-content .message-thread {
    height: 120px;
    border-bottom: 1px solid #c2c2c2;
    padding: 3%;
    position: relative;
}

#messages-content .message-thread .thread-content {
    padding-left: 70px;
    font-size: 14px;
}

#messages-content .message-thread .user-name {
    font-size: 20px;
    vertical-align: top;
}

#messages-content .message-thread .time-ago {
    color: #838383;
    font-size: 11px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

#messages-content .message-thread .location {
    color: #838383;
}

#messages-content .message-thread .user-img {
    float: left;
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
    align-self: center;
    display: inline-block;
}

#user1-img {
    background-image: url("../img/user1.jpg");
}

#user2-img {
    background-image: url("../img/user2.jpg");
}

.menu-footer {
    border-top: 1px solid grey;
    height: 10%;
    width: 100%;
    bottom: 0;
    float: left;
    position: fixed;
}

.menu-footer > nav {
    height: 100%;
    width: 100%;
}

.page {
    height: 90%;
    width: 100%;
    position: absolute;
}

.fa {
    color: black;
    margin-top: 25%;
}

.headings-h1 {
    font-size: 250%;
    padding: 5%;
}

h3 {
    font-size: 160%;
    font-style: normal;
    padding: 5%;
    margin: 0;
    font-weight: normal;
}

#home-content {
    height: 30%;
}

#user-menu {
    position: absolute;
    height: 100%;
    background-color: transparent;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 0%;
    display: flex;
    flex-direction: column;
    width: 60%;
    z-index: -1;
    overflow: hidden;
}

.animate-user {
    transform: translateX(0) !important;
}

#aside-picture {
    background-image: url("../img/user.jpg");
    height: 25%;
    background-size: cover;
    border-radius: 50%;
    width: 70%;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#aside-navigation {
    border-top: 1px solid black;
}

.aside-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-list li {
    padding: 5%;
    font-size: 200%;
    border-bottom: 1px solid black;
}

#animate-child {
    width: 100%;
    height: 100%;
    background: white;
    transform: translateX(100%);
    transition: transform .256s ease-out;
    display: flex;
    flex-direction: column;
}

.bigger-index {
    z-index: 1 !important;
}
