html,
body,
#main,
#initial-page,
#invite-main,
.full-screen {
    height: 100%;
    width: 100%;
    text-transform: initial;
}

#main,
#invite-main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/home.jpg");
    background-repeat: no-repeat;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    background-size: cover;
}

#initial-page {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#logo-heading {
    font-size: 42px;
    font-weight: bold;
}

#login-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20%;
    margin-bottom: 10px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.login-buttons,
.invite-button {
    width: 90%;
    height: 2.5rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    line-height: 2.5rem;
    font-weight: bold;
}

#invite-section {
    margin-bottom: 30px;
}

.invite-friends {
    margin: 20px 0;
}

.invite-friends .invite-button {
    margin: 15px auto;
}

.invites {
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
    text-decoration: underline;
}

.reds {
    background-color: #ff5c5f;
}

.reds-clicked {
    color: #ff5c5f !important;
}

.whites {
    color: #fff !important;
}

.blues {
    background-color: #017c87;
}

#logo {
    width: 10rem;
}

#main-header,
#invite-logo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#reg-login-page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blur-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

#header-bar {
    font-size: 2rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 10px 5%;
}

#header-bar span {
    font-size: 2.5rem;
}

#login-reg-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 25%;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.fb {
    background-color: blue;
}

.gg {
    background-color: red;
}

#login-email {
    height: 40%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#login-email > input {
    width: 90%;
    padding-left: 10px;
    height: 2rem;
}

.red-links {
    color: red;
    text-decoration: underline;
}

#terms {
    font-weight: normal;
    font-size: 0.75rem;
}

#terms > p {
    text-align: center;
}

#main-picture {
    background-image: url("../img/italy.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

#search-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    bottom: -40px;
    left: 5%;
    text-align: center;
}

#search-icon i {
    margin: 0;
    line-height: 80px;
}

.list {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#home-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 60%;
}

#home-main,
#chat-main,
#help-main,
#profile-main,
#listing-main {
    background-color: #fff;
}

#messages-content {
    height: 90%;
}

#messages-content .message-thread {
    cursor: pointer;
    height: 120px;
    border-bottom: 1px solid #c2c2c2;
    padding: 3%;
    position: relative;
}

#messages-content .message-thread .thread-content {
    padding-left: 70px;
    font-size: 14px;
}

#messages-content .message-thread .user-name {
    font-size: 20px;
    vertical-align: top;
}

#messages-content .message-thread .time-ago {
    color: #838383;
    font-size: 11px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

#messages-content .message-thread .location {
    color: #838383;
}

.user-img,
.house-img {
    float: left;
    height: 70px;
    width: 70px;
    background-size: cover;
    align-self: center;
    display: inline-block;
}

.user-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user-img.img-small {
    height: 40px;
    width: 40px;
}

#user1-img {
    background-image: url("../img/user1.jpg");
}

#user2-img {
    background-image: url("../img/user2.jpg");
}

#house1-img {
    background-image: url("../img/house1.jpg");
}

#house2-img {
    background-image: url("../img/house2.jpg");
}

.menu-footer {
    border-top: 1px solid grey;
    height: 10%;
    width: 100%;
    bottom: 0;
    float: left;
    position: fixed;
}

.menu-footer > nav {
    height: 100%;
    width: 100%;
}

.menu-footer > nav .fa {
    color: black;
    margin-top: 25%;
}

.page {
    height: 90%;
    width: 100%;
    position: absolute;
}

.page-header {
    background-color: #ff5c5f;
}

.page-header h1 {
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
}

.headings-h1 {
    font-size: 250%;
    padding: 5%;
    flex-grow: 1;
}

h3 {
    font-size: 160%;
    font-style: normal;
    padding: 5%;
    margin: 0;
    font-weight: normal;
}

#home-content {
    height: 30%;
}

#user-menu {
    position: absolute;
    height: 100%;
    background-color: transparent;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 0%;
    display: flex;
    flex-direction: column;
    width: 60%;
    z-index: -1;
    overflow: hidden;
}

.animate-user {
    transform: translateX(0) !important;
}

#aside-picture {
    background-image: url("../img/user.jpg");
    height: 25%;
    background-size: cover;
    border-radius: 50%;
    width: 70%;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#aside-navigation {
    border-top: 1px solid black;
}

.aside-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-list li {
    padding: 5%;
    font-size: 200%;
    border-bottom: 1px solid black;
}

#animate-child {
    width: 100%;
    height: 100%;
    background: white;
    transform: translateX(100%);
    transition: transform .256s ease-out;
    display: flex;
    flex-direction: column;
}

.bigger-index {
    z-index: 1 !important;
}

#profile-link,
#listing-link,
#help-link,
#invite-link {
    cursor: pointer;
}

.chat-header,
#search-header,
#details-header,
#help-header,
#invite-header,
#profile-header,
#listing-header {
    height: 10%;
    background-color: #ff5c5f;
    color: #ffffff;
    display: flex;
}

#chat-header .fa,
#search-header .fa,
#details-header .fa,
#help-header .fa,
#invite-header .fa,
#profile-header .fa,
#listing-header .fa {
    float: left;
    line-height: 1.2em;
}

#profile-header #back-icon {
    float: left;
}

#profile-header #edit-icon,
#profile-header #save-icon {
    float: right;
}

#search-header #map-icon {
    float: right;
}

#chat-content .other-location {
    border-bottom: 1px solid #c2c2c2;
    color: #838383;
    font-weight: normal;
    text-align: center;
    margin: 1em;
    padding-bottom: 0.5em;
}

#chat-content .msg {
    padding: 15px;
    font-size: 13px;
}

#chat-content .msg.msg-other .user-img {
    margin-right: 10px;
    float: left;
}

#chat-content .msg.msg-other .msg-text {
    background-color: #ff5c5f;
    color: #ffffff;
    float: left;
}

#chat-content .msg.msg-user .msg-text {
    background-color: #d3d3d3;
    color: #000000;
    float: right;
}

#chat-content .msg .msg-text {
    border-radius: 0.5em;
    display: inline-block;
    max-width: 75%;
    padding: 0.7em;
}

#chat-footer {
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    float: left;
    position: fixed;
    padding: 15px;
}

#chat-footer input {
    border: 1px solid #838383;
    font-size: 13px;
    width: calc(100% - 4em);
    padding: 0.3em;
}

#chat-footer #send-icon {
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    vertical-align: bottom;
}

#places-content > .place {
    border-bottom: 1px solid #c2c2c2;
    padding: 15px 10px;
}

#places-content .place-type,
#places-content .place-location,
#places-content .place-preview {
    display: inline-block;
    vertical-align: middle;
}

#places-content .place-type,
#places-content .place-preview {
    padding: 1em;
}

#places-content .place-location {
    font-size: 1.6em;
    width: calc(100% - 7em);
}

.btn {
    border: none;
    border-radius: 3px;
    background-color: #ff5c5f;
    color: #ffffff;
    font-size: 17px;
    padding: 8px;
}

#trips-content .trip {
    border-bottom: 1px solid #c2c2c2;
    padding: 15px;
}

#trips-content .trip > .house-img {
    margin-right: 20px;
}

#trips-content .trip > .info > .accomodation {
    font-size: 22px;
}

#trips-content .trip > .info > .location {
    font-size: 16px;
}

#trips-content .trip > .info > .time-period {
    color: #838383;
    font-size: 14px;
}

#trips-content .trip > .info > .btn {
    float: right;
    margin-top: -27px;
}

#help-content .input-search i {
    margin-right: 15px;
}

#help-content .input-search {
    border-bottom: 1px solid #c2c2c2;
    margin: 0 5px;
    padding: 20px 0;
    text-align: center;
}

#help-content .input-search input {
    font-size: 20px;
    padding: 8px;
}

#help-content .help-suggestion {
    border-bottom: 1px solid #c2c2c2;
    margin: 0 5px;
    padding: 30px;
}

#help-content .help-suggestion > span {
    font-size: 15px;
    position: absolute;
    margin-left: 15px;
    width: calc(100% - 100px);
}

#help-content #help-suggestion {
    cursor: pointer;
}

#help-content #help-answer {
    padding: 30px;
}

#help-content #help-answer > h1 {
    text-align: left;
}

#help-content #help-answer > h1 > i {
    margin-right: 20px;
}

#help-content #help-answer > p {
    font-size: 18px;
    margin-top: 30px;
    text-indent: 15px;
}

#place-details {
    height: calc(90% - 1px);
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

#place-details-header {
    height: 10%;
    background-color: #ff5c5f;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

#place-details-header #details-back {
    float: left;
    padding: 6% 0;
}

#place-details .details-animation {
    transform: translateX(0) !important;
}

#place-details #animate-details {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .256s ease-out;
    background-color: white;
}

#place-details .details {
    height: 83%;
    padding: 5%;
    overflow: scroll;
}

#place-details .details ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#place-details #reviews {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 5%;
}

#place-details .lvl2-heading {
    margin: 0;
    font-size: 2.5rem;
}

.fa-star {
    color: orange;
}

#place-details #stars {
    margin-top: 2%;
}

.user-image {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("../img/comment-user.png");
    border-radius: 50%;
    display: inline-block;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.comments-header {
    display: flex;
    font-size: 1rem;
    line-height: 1.5rem;
    vertical-align: middle;
}

#comments {
    padding-top: 5%;
}

.text {
    font-size: 1rem;
    margin-top: 5%;
}

.comment {
    padding: 5% 0 5% 0;
    border-top: 1px solid black;
}

.other-image {
    background-image: url("../img/user2.jpg");
}

#profile-content {
    background-color: #ffffff;
}

#profile-content #profile-picture {
    background-image: url("../img/user.jpg");
    border: 1px solid #000000;
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 50%;
    align-self: center;
    margin: 20px auto;
}

#profile-content #profile-info,
#profile-content #profile-about,
#profile-content #profile-occupation {
    border-bottom: 1px solid #c2c2c2;
    padding: 20px 40px;
}

#profile-content #profile-info {
    text-align: center;
}

#profile-content #profile-info .name {
    color: #ff5c5f;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px 0;
}

#profile-content #profile-info .location,
#profile-content #profile-info .member-since {
    font-size: 16px;
    padding: 2px 0;
}

#profile-content #profile-about .about,
#profile-content #profile-occupation .occupation {
    font-size: 18px;
    padding-bottom: 10px;
}

#profile-content #profile-about .description,
#profile-content #profile-occupation .description {
    font-size: 14px;
}

#profile-edit {
    font-size: 18px;
}

#profile-edit .section {
    border-bottom: 1px solid #c2c2c2;
    padding: 10px 40px;
}

#profile-edit .section > div {
    margin: 15px 0;
}

#profile-edit .section > h4 {
    color: #838383;
    font-weight: normal;
    margin: 5px 0 20px 0;
    text-align: center;
}

#profile-edit .section .label {
    color: #838383;
}

#profile-edit .section .action,
#profile-edit .section .edit {
    float: right;
}

#profile-edit .section .action {
    color: #ff5c5f;
}

#profile-edit .section .edit {
    font-size: 16px;
    margin: 0;
    width: 40%;
    min-width: 150px;
}

.listing-content {
    height: calc(100% - 80px);
}

.listing-content .question {
    background-color: #f0f0f0;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-content .question.small {
    height: 140px;
}

.listing-content .question h1 {
    color: #838383;
    font-weight: bold;
    width: 80%;
}

.listing-content .search-box {
    text-align: center;
    margin: 10px 0;
}

.listing-content .search-box input {
    font-size: 20px;
    padding: 5px;
    width: 80%;
    min-width: 100px;
}

.listing-content .search-box .fa {
    margin-left: 5px;
}

.listing-content button {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.listing-content .options {
    border-top: 1px solid #c2c2c2;
    height: 50%;
}

.listing-content .options .option {
    border-bottom: 1px solid #c2c2c2;
    font-size: 24px;
    height: 15%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listing-content .options .option .fa {
    margin-right: 15px;
}

.listing-content .numbers {
    border: 1px solid #c2c2c2;
    font-size: 20px;
    margin: 15px auto;
    margin-top: 30px;
    width: 80%;
}

.listing-content .numbers div {
    margin: 20px;
    padding-left: 20px;
}

.listing-content .numbers input {
    font-size: 20px;
    margin-right: 10px;
    width: 50px;
}

.listing-content .photos,
.listing-content .amenities {
    text-align: center;
}

.listing-content .photos .fa {
    margin: 10px;
}

.listing-content .photos #add-photo {
    color: #ff5c5f;
    cursor: pointer;
}

.listing-content .amenities input {
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 5px;
    width: 85%;
}

#listing-map {
    display: block;
    margin: 0 auto;
    background-image: url("../img/map1.png");
    background-size: cover;
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
}

.big-button {
    border-color: #ff5a5f;
    border-bottom-color: #e00007;
    background-color: #ff5a5f;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.43;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    height: 7%;
}
