#search-map {
    height: 400px;
    display: block;
    margin: 0 auto;
    background-image: url("../img/map.png");
    background-size: cover;
    width: 100%;
    height: 60%;
}

.big-button {
    border-color: #ff5a5f;
    border-bottom-color: #e00007;
    background-color: #ff5a5f;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.43;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    height: 7%;
}

.more-filters {
    display: block;
    width: 100%;
    height: 40px;
    border: 2px solid #ff5a5f;
    color: #ff5a5f;
    background-color: white;
}

#cancel-button {
    vertical-align: middle;
    line-height: 3rem;
}

#searchfield {
    font-size: 16px;
    border: none;
}

#search-nearby i {
    color: #ff5a5f;
    font-size: 22px;
}

#search-nearby {
    display: flex;
    justify-content: space-between;
}

.search-label {
    font-size: 16px;
    font-weight: 500;
}

.full-screen {
    background-color: #fff;
}

.search-section {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#map-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    background-color: #f0f0f0;
}

#search-section-header {
    height: 8%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.separator {
    height: 1%;
    width: 110%;
    margin-left: -5%;
    background-color: grey;
}

.check-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.check-inputs > span {
    text-align: center;
    font-size: 1.2rem;
}

.date-picker {
    background-color: white;
    height: 120px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    margin: 0 !important;
}

.picker {
    width: 80%;
}

.search-details-section {
    background-color: #f0f0f0;
    align-items: center;
    padding: 5%;
}

.post-image {
    background-image: url("../img/flat.jpg");
    background-size: cover;
    height: 60%;
    width: 110%;
    margin-left: -5%;
}

.second-image {
    background-image: url("../img/room2.jpg");
}

.third-image {
    background-image: url("../img/house.jpg");
}

.post {
    width: 100%;
    height: 300px;
}

.post h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.post-description {
    padding: 5%;
}

.mini-description {
    font-size: 1.5rem;
}

.search-details-section > * {
    margin-top: 5%;
}

.description-group {
    display: flex;
    justify-content: space-between;
}

.animation-parent {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: scroll;
}

.animation-child {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .256s ease-out;
}

.animate-transform {
    transform: translateX(0) !important;
}

.z-index {
    z-index: 1 !important;
    background-color: initial;
}

#search-details {
    background-color: transparent;
}